<div class="container mt-4">
    <div class="form-group">
        <label for="productName">Product Name:</label>
        <input type="text" class="form-control" ng-model="new.ten">
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" ng-model="new.soluong">
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" ng-model="new.giaban">
    </div>
    <button type="submit" ng-click="update(id)" class="btn btn-primary">update</button>
</div>