<div class="container">
    <div class="mb-3">
        <label for="username" class="form-label">Tài khoản</label>
        <input type="text" class="form-control" id="username" ng-model="inputvalue.username" style="height: 38px; width: 250px;">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" id="password" ng-model="inputvalue.password" style="height: 38px; width: 250px;">
    </div>
    <div class="d-grid gap-2">
        <a ng-click="register()" type="button" class="btn btn-primary" href="#!/register" style="width: 100px; margin-left: 65px;">Register</a>
    </div>
</div>
